* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    cursor: pointer;
    

}
.btn:hover{
    background-color: #0000008e;
}

.section-heading {
    max-width: 1360;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.section-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}


/*main style*/

header{
    background-color: #FFFFFF;
    padding: 16px 120px;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}


/*banner section*/

main #banner-container {
    background: url("../assets/hero-bg.png");
    max-width: 1600px;
    height: 674px;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 120px 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
}

.banner-content button{
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
    margin: 0px 565px 0px
}

main #banner-container .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    
}

.color-green {
    color: #469165;
}

.banner-content p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
 
.transparent-btn {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
}
.transparent-btn:hover{
    background-color: #0000008e;
}



#notes {
    padding-top: 44px;
}

#notes .notes-cointainer {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#notes .notes-cointainer .note-box {
    display: flex;
    gap: 24px;
}

.note-box .note-card { 
    padding: 24px;
    /*border: 1px solid red;*/
    box-shadow: 0 0 8px 0 #0000008e;
    max-width: 322px;

}

.note-card img {
     max-width: 60 px;
     border-radius: 50%;
     background-color: #F95555;
     margin-top: 69px;
     margin-left: 131px;
     margin-right: 131px;
     margin-bottom: 16px;
     padding: 1.5px 2.49px;
     
    
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}

.note-card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 69px;
    text-align: center;
}


#brain {
    border: none;
    margin: 0 auto;
    align-items: center;
    padding: 120px;
    display: flex;
    justify-content:space-between
}

#brain .brain-image {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    gap: 60px;

}

#brain .brain-content {
    margin: 60px 102px 0px;

}
.brain-content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.brain-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.brain-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-content .list li{
    display: flex;
    gap: 6px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style-type: none;
}


#challenge {
    margin: 2px 120px 120px;
    background-color: #F7F6F2;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    height: 384px;
}
#challenge .challenge-section h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
#challenge .challenge-section p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
    margin-bottom: 24px;
}

#challenge .challenge-section button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
}


footer {
    background-color: #001931;
    gap: 80px;
    padding: 120px 120px 30px 120px;
    margin: 0 auto;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 83px;
}

.social-media {
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 16px;
    
}
.icons h2 {
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: #FFFFFF;
}
hr{
    margin-top: 79px;
}

.footer-copyright {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;
    gap: 30;
    padding: 30px 120px;
}





















